@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
    height: 100%;
}
h3{
    font-family:"Open Sans", sans-serif;
    color:grey;
    font-style: italic;
}

.logo p{
      font-family:"Open Sans", sans-serif;
      font-size: 26px;
      float: left;
      margin-top:2%;
      margin-left:2%;
}
.logo img{
      position: relative;
      float: left;
      width:7%;
}
.navbar {
      background: #FFFFFF;
      border: none;
      font-family:"Open Sans", sans-serif;

}

.navbar{
    background-image: none;
}
.navbar-header{
  width: 427px;
}
.navbar-default {
  background-color: #fffefe;
  border-color: #6cbb9c;

}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

}
.navbar-default .navbar-text {
  color: #000000;

}
.navbar-default .navbar-nav > li > a {
  color: #000000;
   height: 80px;
   padding-top:25px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #6cbb9c;

    font-family:"Open Sans", sans-serif;

}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #fffefe;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #6cbb9c;
    font-family:"Open Sans", sans-serif;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #fffefe;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6cbb9c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #6cbb9c;
}
.navbar-default .navbar-toggle {
  border-color: #6cbb9c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6cbb9c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6cbb9c;
  }
}
.inst {
 width: 240px;
 position: relative;
 margin-left: 21%;

}
.inst img{
  display: list-item;
}
@media (min-width: 967px) {
  .banner{
      float: right;
      margin-top: -25px;
      margin-left: 50px;
      position: absolute;

  }
}

@media (max-width: 967px) {
  .banner img{
    display: none;

  }
}
.frase p{
  font-family:"Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  text-align: justify;
}
.frase{
  margin-top: 11%;
  margin-left: 3%;
  position: relative;
  }
  .pensando{
    position: relative;
    margin-top: 15%;
    margin-left: -7%;
  }
  .pensando p{
     font-family:"Open Sans", sans-serif;
     font-size: 15px;
     text-align: center;
     margin-left: -15%;

  }
  .pensando img{
    margin-top: -5%;
    width: 20%;
    float: right;
  }
  @media (max-width: 767px) {
  .pensando img{
    display: none;

  }
}
  .btn-success{
    background-color: #6cbb9c;
  }
  .sombra{
      background: url("../img/sombra.png") repeat-x;
      margin-top:-4px;
     height: 43px;
     width: 100%;

  }
  .imagen1 img{
    width: 300px;
    clear: both;
  }
  h3{
    clear: both;
  }

  .ciru p{
    text-align: justify;
    display: inline-block;
    margin-top:5%;
     font-family:"Open Sans", sans-serif;
  }

.galeriaIndex img{
  width: 250px;
  display: inline;
  float: left;
  margin-right: 15px;

}
.VerMas{
  float: left;
  clear: both;
  margin-top:10px;
}
.actualidad{
  background-color: #e4f3ed;
  padding-bottom: 35px;
  border-radius: 20px 20px 20px 20px;
 -moz-border-radius: 20px 20px 20px 20px;
 -webkit-border-radius: 20px 20px 20px 20px;

}
.actualidad p{
   text-align: justify;
   font-family:"Open Sans", sans-serif;
   margin: 10px;
   padding-top:23px;

}
.leerMasActualidad{
    float: left;
  clear: both;
  margin-top:11px;
}
.footer{
min-height: 450px;
margin-top: 100px;
background-color: #6cbb9c;
padding-top: 35px;
color:#FFFFFF;

}
  @media (max-width: 767px) {
  .margen{
    margin-bottom: 997px;
  }
}
.footer p{
  float: left;
}
#mapa{
  padding-left: 50px;
  width: 500px;
  display: inline-block;
  }
  #mapa iframe{
    height: 225px;
  }
.localizacion{
  color:#FFFFFF;
  margin-left:10%;
}
.direccion{
  color:#FFFFFF;
}
.pie{
  margin-top:-2%;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin-top:10px;
  /*margin: 30px 0 0;*/
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}


#overview {
  padding-top: 15px;

}
.cont{
  padding-top:20px;
}

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 10px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}



.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}
#sidebar li a{
  color:#000000;
}
#sidebar li a:hover{
  background-color: #6CBB9C;
  color: #FFFFFF;
}
.secc{
  background-color: #6CBB9C;
}
.secc li a,h4{
   color: #FFFFFF;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;

  }
}

.izquierda{
  float: left;
  margin-left:20px;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-responsive {
    margin: 0 auto;
    float: left;
}

.media img{
  padding:20px;
}
.mam img{
  clear: both;

}

.lis{
  margin-left: 200px;
  display: inherit;
}
.man2{
  max-width: 30%;
}
@media(max-width: 767px){
  .man2, .man3{
    display: none;
  }
}
@media(max-width: 767px){
  .man{
    display: none;
  }
}
@media(max-width: 767px){
  .lis{
    margin:0 auto;
  }
}
